DB
test.html
workspace
.vscode
pkg
bin

# https://github.com/golang-standards/project-template/blob/master/.gitignore

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
