html{
    height: 100%;
}

body{
    background-color: rgb(83, 83, 231);
    height: 100%;
    display: grid;
    z-index: 0;
    position: relative;
}

.center{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-self: center;
}

.main_container{
    background-color: rgb(68,73,78);
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 50%;
    width: 30%;
    padding: 50px;
    margin: auto;

    border: solid black 2px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_container input{
    height: 8.56%;
    width: 70%;
}

.input-type1{
    background-color: rgb(46, 50, 53);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset; 
    border: solid black 2px;
    border-radius: 2px;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    color: white;
    text: white;
    

    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-self: center;


    transition: 0.5s;
}

input:hover{
    transform: scale(105%);
}


::placeholder{
    color:white;
}

td{
    width: auto;
}

button{
    background-image: linear-gradient(to bottom right, rgb(240, 100, 18),rgb(244, 59, 142) );
}

.bottom{
    bottom:0;
}